# lives in ~

[user]
	email = adam@dotdev.com.au
	name = Adam Demirel
[core]
	autocrlf = false
	safecrlf = false
	filemode = false
	repositoryformatversion = 0
	editor = code --wait # waits for vscode to finish before ending process
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	unstage = rm --cached
	last = log -1 HEAD
	unstagerm = reset HEAD --
	ss = status -s
	l = log
	ammend = commit --ammend
	s = status
	unchange = checkout --
	f = fetch
	current = rev-parse --abbrev-ref HEAD
[pager]
	branch = false
# [include]
#   path = /home/adam/.netlify/helper/git-config
# [credential]
# 	helper = cache --timeout=9999999999
# 	helper = netlify
[init]
	defaultBranch = main
[hub]
	protocol = ssh
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code -w $MERGED
[commit]
  tool = code -w
