# lives in ~

[user]
	email = adam@dotdev.com.au
	name = Adam Demirel
[core]
	autocrlf = false
	safecrlf = false
	editor = code
	filemode = false
	repositoryformatversion = 0
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	unstage = rm --cached
	last = log -1 HEAD
	unstagerm = reset HEAD --
	ss = status -s
	l = log  
	ammend = commit --ammend
	s = status
	unchange = checkout --
	f = fetch
	current = rev-parse --abbrev-ref HEAD
[pager]
	branch = false
[include]
  path = /home/adam/.netlify/helper/git-config
[include]
  path = /home/adam/.netlify/helper/git-config
[include]
  path = /home/adam/.netlify/helper/git-config
[credential]
	helper = cache --timeout=9999999999
	helper = netlify
[include]
  path = /home/adam/.netlify/helper/git-config
[init]
	defaultBranch = main
[include]
  path = /home/adam/.config/netlify/helper/git-config
[hub]
	protocol = ssh
